<app-header [displayLoginUser]="true" (changedTheme)='changedTheme($event)'></app-header>
<div class="container-header" [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
    <div>
        <h4 class="add-product">{{pageTitle}}</h4>
        <button class="button" aria-label="Go to listing" (click)="gotolisting()">
            Back
        </button>
    </div>
</div>
<div class="container" [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
    <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
        <div class="row">
            <div class="col-20">
                <label for="product-name">Product Name</label>
            </div>
            <div class="col-80">
                <input type="text" id="product-name" formControlName="productName" placeholder="Enter product name.."
                    required>
            </div>
        </div>
        <div class="row">
            <div class="col-20">
                <label for="description">Description</label>
            </div>
            <div class="col-80">
                <textarea id="description" formControlName="description" placeholder="Write some description.."
                    required></textarea>
            </div>
        </div>
        <div class="row description">
            <div class="col-20">
                <label for="category">Category</label>
            </div>
            <div class="col-80">
                <select formControlName="category" id="category">
                    <option disabled>Select Option</option>
                    <option>Choose Option</option>
                    <option *ngFor="let category of categories">{{category}}</option>
                </select>
            </div>
        </div>
        <div class="alert-danger">
            <div *ngIf="!addProductForm.valid">All fields are required</div>
        </div>
        <div class="row">
            <button class="button" [ngClass]="!addProductForm.valid ? 'disabled' : 'enabled' " type="submit" [disabled]="!addProductForm.valid">Submit</button>
        </div>
    </form>
</div>