.electronic-listing {
    background-color: #ffffff;
    border: 1px solid #e0dfdf;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    .section-one {
        height: 20px;
        h4 {
            width: 10%;
            float: left;
            margin: 0;
        }
    }
    .heading-four {
        width: 80%;
        float: left;
        margin: 0;
    }
    table {
        margin-top: 42px;
        thead {
            tr {
                background: #e6e6ff;
                .action-col {
                    min-width: 7rem;
                }
            }
        }
        tbody {
            tr {
                td {
                    border-bottom: 1px solid #e6e6ff;
                }
                .actions-buttons {
                    padding: 0.5rem;
                    text-align: center;
                    .button { 
                        padding: 5px 5px;
                    }
                    .delete-button {
                        background: #a72f2f;
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
    .button {
        background-color: #1976d2;
        color: white;
        padding: 10px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .add-btn {
        float: right;
    }
    
    .button:hover {
        background-color: #1976d2;
    }
    .no-data {
        width: 100%;
        display: inline-block;
    }
}
@import "../../theme.variable.scss";
