<app-header [displayLoginUser]="true" (changedTheme)='changedTheme($event)'></app-header>
<div class="electronic-listing" [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
    <div class="section-one">
        <h4>Top Categories - </h4>
        <span>Cell Phones | TV | Samrt Devices | Audio | Laptops </span>
    </div>
</div>
<div class="electronic-listing" [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
    <div>
        <h4 class="heading-four">Electronic Products</h4>
        <button *ngIf="isUserAuthenticated" class="button add-btn" aria-label="Add new product" (click)="addProduct()">
            Add Product
        </button>
    </div>
  
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Electronic Category</th>
                <th *ngIf="isUserAuthenticated" class="action-col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of prducts">
                <td tabindex="0">{{ product.productName }}</td>
                <td tabindex="0">{{ product.description }}</td>
                <td tabindex="0">{{ product.category }}</td>
                <td *ngIf="isUserAuthenticated" class="actions-buttons">
                    <button tabindex="0" class="button" aria-label="Edit Product"
                        (click)="editAction(product.id)">
                        Edit
                    </button>
                    <button tabindex="0" class="button delete-button" aria-label="Delete Product" (click)="deleteProduct(product.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="no-data" *ngIf="nodatamsg">No Data Available</div>
</div>